.hero__img:first-child {
    animation: transform1 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
.hero__img:last-child {
    animation: transform2 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
@keyframes transform1 {
    0%,
    100% {
        translate: 0;
        scale: 1;
        z-index: 1;
    }
    50% {
        translate: 100%;
        scale: calc(410 / 540);
        z-index: 99;
    }
}
@keyframes transform2 {
    0%,
    100% {
        translate: 10px; /* Bù lại phần bị scale nhé! */
        scale: calc(410 / 540);
        z-index: 1;
    }
    50% {
        translate: -100%;
        scale: 1;
        z-index: 99;
    }
}
