*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ------------------------------------ Common ---------------------------------------------*/

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    color: #fff;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid var(--header-bg);
    background: #2e80ce;
    line-height: var(--height);
    min-width: 205px;
    text-align: center;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.9;
}

.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section__desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* ------------------------------------ Header ---------------------------------------------*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 30px;
    min-height: 100vh;
    background-color: var(--header-bg);
}

.logo {
    font-size: 1rem;
    gap: 6px;
    display: inline-flex;
}

.logo__circle {
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    right: 0.4em;
    bottom: 0.6em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    max-width: 5em;
    white-space: wrap;
    color: #fff;
}

.logo__branch {
    font-size: 1.8em;
}

.logo__branch:last-child {
    display: block;
    font-size: 1.2em;
    text-align: right;
    font-weight: 300;
}

/* Navbar */

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    position: relative;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 22px;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fff;
    border-radius: 8px;
    transition: width 0.5s, color 0.3s;
}

.navbar__link:hover::after {
    width: 60px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 #fff;
    color: #fff;
}

/* Action */

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup:last-child {
    --height: 44px;
    min-width: 104px;
}

/* ==Hero== */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__contenr {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.7;
}

.hero__media {
    flex: 1 0 auto;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 2;
}

.hero__img:last-child {
    z-index: 1;
    margin-left: -6px;
    width: 210px;
    height: 410px;
}

/* -------------------------------------Services--------------------------------------- */

.services {
    padding: 170px 0;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
}

.services-item {
    display: flex;
    justify-content: space-between;
    padding: 21px 22px;
    width: 470px;
    border-radius: 10px;
    transition: 0.25s;
}

.services-item__icon-wrap {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    color: rgba(16, 55, 92, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: color 0.25s;
    transition: background 0.25s;
}

.services-item__body {
    margin-left: 20px;
}

.services-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    margin-top: 8px;
    width: 308px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.services-item:hover .services-item__icon-wrap {
    background-color: rgba(46, 128, 206, 1);
}

.services-item:hover path {
    color: #fff;
}

.section__btn {
    margin-top: 55px;
}

/* ---------------------------------------Works------------------------------------------- */

.works {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work__item {
    padding: 43px;
    border-radius: 4px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: border-color 0.25s, transform 0.25s;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.4;
}

.work-item__desc {
    margin: 28px 0 18px;
    width: 254px;
}

.work-item__desc,
.work-item__more {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    transition: text-shadow 0.25s;
}

.work__item:hover {
    border-color: rgba(46, 128, 206, 1);
    transform: translateY(-16px);
}

.work__item:hover .work-item__more {
    color: #2e80ce;
    font-weight: 400;
    /* text-shadow: 1px 0 0 #2e80ce; */
}
